<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <style>
        body { background-color: #DADADA; }
        body > .grid { height: 100%; }
        .column { max-width: 450px; }
    </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">FairUGC Admin</div>
    </h2>
    <form class="ui large form" method="POST">
      <div class="ui stacked segment">
        
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="ui {{ 'error' if category == 'danger' else 'success' }} message" style="display:block">
                  {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large teal submit button">Login</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>